PORT=
NODE_ENV=
DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
DB_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
BACKEND_URL=
# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
CONTACT_EMAIL=
#GCS
GCS_PROJECT_ID="project-id"
GCS_CLIENT_EMAIL="service-account-email"
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GCS_BUCKET_NAME="bucket-name"
